

.container .card {
    position: relative;
    text-align: center;
    padding: 30px;
    background: #4894fe75;
    margin-top: 38px;
    border-radius: 15px;
}

.card h1 {

}
.card main{
    margin: 10px;
}
.container .card h1,p {
    color: white !important;
    line-height: 1.5;
}
.card img{
    width: 96px;
}